<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <link rel="stylesheet" href="css/tailwind.min.css">
    <script src="scripts/vue.min.js"></script>
    <div id="app">
        <div class="grid grid-cols-12">
            <div class="md:col-start-5 col-span-12 flex"> 
                <h1 class="md:ml-8 mt-5 mx-auto text-black text-4xl md:text-3xl font-bold">Profile Browser</h1>
            </div>
            <div class="md:col-start-1 md:col-span-10 col-span-12 mb-10 flex">
                <!-- Menu -->
                <div class="left-menu md:mt-15 md:pt-5 md:w-5/12 w-full md:mr-5">
                    <div class="outline hidden md:block md:float-right sm:float-none"></div>
                    <ul id="peopleListDisplay" class="md:float-right float-none mt-5">
                        <div v-for="people in peopleList" :key="people.id">
                            <li :class="[isSelected(people.id) ? 'menuSelected' : '']" class="menuItem md:pl-5 pl-3 pr-8 cursor-pointer" @click="selectPerson(people.id)">
                                {{ people.firstName }} {{ people.lastName }}
                            </li>
                            <div :class="[isSelected(people.id) ? 'block' : 'hidden']" class="p-3 md:hidden md:block">
                                <show-person :current-person="people"></show-person>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="main-page mt-3 md:-mr-2 md:w-7/12 md:block hidden pr-5">
                    <div class="pt-3 pb-5">
                        <show-person :current-person="currentPerson"></show-person>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    </style>
    <script src="scripts/data.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>