.outline {
    z-index: -1;
    border-right: 1px solid #bbb;
    height: 100%;
}

.left-menu {
    min-height: 400px;
}

#peopleListDisplay li:hover {
    background: none;
    background-color: #fff;
    font-weight: bold;
}

#peopleListDisplay li {
    min-width: 210px;
}

.menuItem {
    border: 1px solid #999;
    background: #d8d8d8;
    background: linear-gradient(to top, #cccccc, #DDDDDD);
    border-bottom:none;
}

.menuSelected {
    background: none;
    background-color: #fff;
    border-right: 1px solid #fff;
    font-weight: bold;
    border: none;
    border-top: 1px solid #999;
}

.showList{
    transition: height 2s;
}

/* Non mobile view */
@media (min-width: 768px) {
    .menuItem {
        margin-right: -1px;
        border-top: none;
        border-bottom: 1px solid #999;
    }

    .left-menu ul div:first-child li {
        border-top: 1px solid #999;
        border-radius: 10px 0px 0px 0px;
    }

    .left-menu ul div:last-child li {
        border-radius: 0px 0px 0px 10px;
    }

    .menuSelected {
        border: 1px solid #999;
        background: none;
        background-color: #fff;
        border-right: 1px solid #fff;
        border-top: none;
        font-weight: bold;
    }
}

.photo {
    border: 5px solid #eee;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0% 0px;
    margin: 10px 10px 5px 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.60);
}

/* Show new lines in the text render */
.markdown-body {
    white-space: pre-wrap;
}